<!-- header start -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"   (click)="onclickmenu()">RESTAURENT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" *ngFor="let item of cuisinearr">
        <li><a (click)="onclickmenu(item.cname)" >{{item.cname}}</a></li>
      </ul>
      <ul class="nav navbar-nav" >
          <li><a (click)="onclickpastorder()" >Past Order</a></li>
          <li><a (click)="onclicklogout()" >Logout</a></li>
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Header ended -->

<div class="row  container-fluid">
    <!-- column start -->
<div class="col-md-8">

<div class="row"  >
  <div class="col-md-4 col-sm-5" *ngFor="let item of disharr,let i=index">
    <div class="thumbnail" (click)="onclickfood(item)">
      <td><img style="padding-left: 50px;" src="{{'http://localhost:3000/images/' + item.dimage}}"  alt="image" class="zoom" height="150px" width="200px"></td>
      <div class="caption">
          <td><h3>{{item.dname}}</h3></td><br>
        <td><h3>{{item.dprice}}</h3></td>

      </div>
    </div>
  </div>
</div>

</div>
<!-- column end -->
<div class="col-md-4">

<table style="width: 100%;">

  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Delete</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
  <tr *ngFor="let item of orderarr,let i=index">
    <td>{{item.dname}}</td>
    <td>
      <select (change)="onchange(item,i)"   [(ngModel)]="qty[i]" style="width: 50%">
        <option *ngFor="let item of onefif"> {{item}}</option>
      </select>
    </td>
    <td><button (click)="onDelete(item,i)" class="glyphicon glyphicon-trash"></button></td>
    <td>{{item.dprice}}</td>
    <td >{{sum[i]}}</td>

  </tr>
</table>
<h1>Total: {{total}}</h1>
<button (click)="oncheckout()">Checkout</button>
</div>
