<a mat-flat-button routerLink="." (click)="onclickback()">BACK
</a>
<hr>



<mat-form-field style="width: 50%;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <ng-container matColumnDef="dname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.dname}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dprice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.dprice}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="dimage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
    <td mat-cell *matCellDef="let element"> <img src="{{'http://localhost:3000/images/' + element.dimage}}" alt="image" class="zoom" height="150px" width="200px"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="4"
              [pageSize]="1"
              [pageSizeOptions]="[1,2,3,4]">
</mat-paginator>

