<!--Header Part-->
<app-headerlogin></app-headerlogin>



<!--Body Part-->



<div class="container">
    <label for="uname"><b>Email Id</b></label>
    <input type="text" placeholder="Enter Email Id" name="uname" [(ngModel)]="CustomerId" required>

  <label for="uname"><b>Old Password</b></label>
  <input type="password" placeholder="Enter Old Password" name="uname" [(ngModel)]="Password" required>

  <label for="psw"><b>New Password</b></label>
  <input type="password" placeholder="Enter New Password" name="psw" [(ngModel)]="newPassword" required>

  <label for="psw"><b>Confirm Password</b></label>
  <input type="password" placeholder="Enter Confirm Password" name="psw" [(ngModel)]="ConfirmPassword" required>

  <button type="submit" (click)="onforget()">Login</button>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>

<div class="container" style="background-color:#f1f1f1">
  <button type="button" class="cancelbtn" (click)="cancel()">Cancel</button>
</div>
